<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<div class="summury-container">
  <div class="navigator">
    <ul>
      <li>
        <a href="#">
          <i class="fas fa-home home-img"></i>
          <!-- Home Icon Only -->
        </a>
      </li>
      <li>
        <i class="fas fa-greater-than"></i>
        <a style="color: grey" href="#">Cashflow Forecasting</a>
      </li>
      <li aria-current="page">
        <i class="fas fa-greater-than"></i>
        <a style="color: grey" href="javascript:void(0)">Summary</a>
      </li>
    </ul>

    <div class="cashflow-forecast-nav">
      <div class="left">
        <p>Cash Flow Forecast- Summary</p>
      </div>
      <div class="right">
        <div class="actions">
          <button title="Mail"><i class="fas fa-envelope"></i></button>
          <button title="Download"><i class="fas fa-download"></i></button>
          <button title="Refresh"><i class="fas fa-sync"></i></button>
          <button title="Print"><i class="fas fa-print"></i></button>
          <button title="Share"><i class="fas fa-share-alt"></i></button>
          <button title="Copy">
            <i class="fas fa-copy"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="section" id="cashflow">
      <div class="top-section">
        <div class="left">Nescafe</div>
        <div class="right">
          <div class="currency-selector">
            <img
              src="assets/img/download (1).png"
              alt="Country Flag"
              class="country-flag me-2"
            />
            <select style="color: black; font-weight: 600;">
              <option value="AED" >AED</option>
             
              <!-- Add more currencies as needed -->
            </select>
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <div class="left">
          <p class="id-value" style="color: grey">1000344</p>
          <p class="id-string">CIF ID</p>
        </div>
        <div class="right" style="margin-right: 14px">
          <p style="color: grey">9</p>
          <p class="id-string">Accounts</p>
        </div>
      </div>
    </section>
    <div class="box1 box-data">
      <div class="inner-box">
      <span class="heading">Cashflow Overview</span>
      <div class="bottom-box">
      <span class="data">AED 10,60,000</span>
      <span class="inner-heading">Total Cash inflow</span>
      <div class="lower-text">
        <img src="assets/green arrow.png" alt="">
        <p>1% v/s last year</p>
      </div>
    </div>
     </div>
    </div>
    <div class="box2 box-data">
      <div class="inner-box">
        <div class="bottom-box">
        <span class="data">AED 10,60,000</span>
        <span class="inner-heading">Total Cash inflow</span>
        <div class="lower-text">
          <img src="assets/red arrow.png" alt="">
          <p>1% v/s last year</p>
        </div>
      </div>
       </div>
    </div>
    <div class="box3 box-data">
      <div class="inner-box">
        <div class="bottom-box">
        <span class="data">AED 10,60,000</span>
        <span class="inner-heading">Total Cash inflow</span>
        <div class="lower-text">
          <img src="assets/green arrow.png" alt="">
          <p>1% v/s last year</p>
        </div>
      </div>
       </div>
    </div>
    <div class="box4 box-data">
      <div class="inner-box">
        <span class="heading-insight">Insights</span>
        <div class="bottom-box">
      
        <div class="lower-text">
          <img src="assets/green arrow.png" alt="">
          <p>hello sir how are you and your family hello sir how are you and your family</p>
        </div>
        <div class="lower-text">
          <img src="assets/red arrow.png" alt="">
          <p>how sir how are you and your family hello sir how are you and your family</p>
        </div>
      </div>
       </div>
    </div>
  </div>
  <div class="container-forecast-period">
    <section class="section" id="cashflow">
      <div class="top-section">
        <div class="left">Nescafe</div>
        <div class="right">
          <div class="currency-selector">
            <img
              src="assets/img/download (1).png"
              alt="Country Flag"
              class="country-flag me-2"
            />
            <select style="color: black; font-weight: 600;">
              <option value="AED" >AED</option>
             
              <!-- Add more currencies as needed -->
            </select>
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <div class="left">
          <p class="id-value" style="color: grey">1000344</p>
          <p class="id-string">CIF ID</p>
        </div>
        <div class="right" style="margin-right: 14px">
          <p style="color: grey">9</p>
          <p class="id-string">Accounts</p>
        </div>
      </div>
    </section>
    
  </div>
</div>
