.summury-container {
  width: 100vw;
  height: 300vh;
}
.navigator {
  height: auto;
  width: 95vw;
  display: flex;
  gap: 0.2rem;
  margin: 0 auto;
  margin-top: 10px;
  flex-direction: column;
}

.navigator ul {
  display: flex;
  gap: 0.7rem;
  width: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: start;
}
.navigator ul i {
  margin-right: 0.7rem;
  font-size: 0.9rem;
  color: grey;
}
.navigator ul .home-img {
  font-size: 1rem;
}

.navigator .cashflow-forecast-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navigator .cashflow-forecast-nav .left p {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
}

.navigator .cashflow-forecast-nav .right .actions button {
  border: none;
  outline: none;
  color: rgb(70, 69, 69);
}

.container {
  height: auto;
  width: 95vw;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 95%;
  border-radius: 5px;
    align-items: stretch;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 4px 1px 12px;
}
.container .section {
  height: 160px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-grow: 1;
  border: 2px solid #02b29d;
}

.container .section .top-section {
  height: 50%;
  width: 90%;
  position: relative;
  border-bottom: 2px solid #02b29d;
}
.container .section .top-section .left {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  position: absolute;
  bottom: 6px;
}
.container .section .top-section .right {
  font-size: 0.9rem;
  font-weight: 500;
  color: grey;
  position: absolute;
  display: flex;
  top: 12px;
  right: 2px;
}

.container .section .top-section .right .currency-selector {
  display: flex;
  gap: 2px;
  justify-content: baseline;
}
.container .section .top-section .right .currency-selector img {
  height: 22px;
  width: 33px;
}
.container .section .top-section .right .currency-selector select {
  outline: none;
  border: none;
  color: black;
  font-weight: 500;
}
.container .section .bottom-section {
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container .section .bottom-section .left .id-string {
  margin-top: -10px;
  font-weight: 600;
  font-size: 1rem;
}

.container .section .bottom-section .right .id-string {
  margin-top: -10px;
  font-weight: 600;
  font-size: 1rem;
}

.container .box1,
.box2,
.box3 {
  height: 160px;
  flex-basis: 200px;
  flex-grow: 1;
  margin-top: 12px;
  position: relative;
  
  background-color: rgba(241, 239, 235, 0.726);
}

.container .box4 {
  height: 160px;
  flex-basis: 350px;
  margin-top: 12px;

  position: relative;
  margin-right: 15px;
  background-color: rgba(241, 239, 235, 0.726);
}

.container .box-data .inner-box {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .box-data .inner-box .heading {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 15px;
}

.container .box-data .inner-box .data {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}
.container .box-data .inner-box .bottom-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.container .box-data .inner-box .inner-heading {
  color: black;
  font-size: 0.7rem;
  font-weight: 600;
}
.container .box-data .inner-box .lower-text {
  display: flex;
  gap: 4px;
}
.container .box-data .inner-box .lower-text img {
  height: 12px;
  width: 18px;
  margin-top: 3px;
}
.container .box-data .inner-box .lower-text p {
  font-size: 0.8rem;
}
.container .box-data .inner-box .heading-insight {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 15px;
  left: 10px;
}

.container .box4 .inner-box .bottom-box {
  height: 150px;
  padding: 0 10px;
  width: 400px;
  padding: 20px;
  overflow-y: scroll;
}

